{{>navbar}}

<div class="container">
  <form class="needs-validation" novalidate>
  <div class="form-group">
    <label for="inputTitle">Title of the story</label>
    <input type="text" class="form-control" id="inputTitle" aria-describedby="inputInstruc" placeholder="Enter Title" required>
    <small id="inputInstruc" class="form-text text-muted">Make it really spooky</small>
    <div class="invalid-feedback">
        Please Enter a title.
      </div>
  </div>

  <label for="locationStory">Location of story</label>
  <input class="form-control" type="text" id="locationStory" placeholder="location here" readonly>
  <br>

  <div class="form-group">
      <label for="inputStory">Write down your story</label>
      <textarea class="form-control" id="inputStory" rows="3" required></textarea>
      <div class="invalid-feedback">
        No story was entered
      </div>
    </div>
    <div class="form-group">
      <label for="importFile">Add a picture</label>
      <input type="file" class="form-control-file" id="importFile">
    </div>
    
    <br>
  <button type="submit" class="btn btn-primary">Submit</button> <button  class="btn btn-primary">Cancel</button>
</form>

</div>




<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>

